*.pyc
*.o
*.mod
*.data
.output
.data
.plots
xclaw
xamr
xgeoclaw
xgeoclaw.dSYM
*.html
*_output/
*_plots/
*~
# Topography
*.asc
*.tt*
*.topotype*
*.xyz

# Scratch directory
scratch/*
!scratch/README.txt

# Other data files
*.nc

# log files
*.log

# py3k cache directories
__pycache__

# ipython
.ipynb_checkpoints

# macOS
*.DS_Store
