clawpack/clawutil
clawpack/petclaw
clawpack/pyclaw
clawpack/riemann
clawpack/visclaw
clawpack/amrclaw
clawpack/geoclaw
clawpack/classic
clawpack/version.py

# ignore build directory
build

# ipython
.ipynb_checkpoints

# macOS
*.DS_Store
